body {
  text-align: center;
  background-color: #2b3035;
  color: Black;
}
.timeline {
	background-color: white;
}
.FlexItem {
	background-color: #F4E0CB;
	border-radius: 10px;
	text-align: start;
	margin: 10px;
	padding: 10px;
	color: white;
	background: rgba(25, 25, 25, 0.3);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(100, 100, 100, 0.4);
}
.maintextbody {
	 background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(1,79,0,1) 15%, rgba(255,0,0,1) 25%, rgba(255,255,255,1) 34%, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 66%, rgba(0,13,165,1) 100%); 
}
.nomargins{
	margin: 0px;
}
.sitetitle {
    color: white;
	background: rgba(25, 25, 25, 0.3);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(25, 25, 25, 0.4);
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
}
img {
	height: 100%;
	width: 100%;
}
p {
	font-size: 24px;
}
